# **Phase 3**

In this part you will begin building your project by loading and preprocessing the dataset.

Start the data analysis by loading and preprocessing the dataset

Load the dataset using Python and data manipulation libraries (e.g., pandas).

First we need to import pandas library by using the following code

In [1]:
import pandas as pd

Now we need to upload our dataset

In [2]:
df = pd.read_csv('/content/DDW_B06_3300_State_TAMIL_NADU-2011.csv')

In [3]:
print(df.head())

  Table Code State Code District Code           Area Name Total/ Rural/ Urban  \
0      B0706        `33          `000  State - TAMIL NADU               Total
1      B0706        `33          `000  State - TAMIL NADU               Total
2      B0706        `33          `000  State - TAMIL NADU               Total
3      B0706        `33          `000  State - TAMIL NADU               Total
4      B0706        `33          `000  State - TAMIL NADU               Total

  Age group  Worked for 3 months or more but less than 6 months -  Persons  \
0     Total                                            4218884
1      `5-9                                              48238
2    `10-14                                              76288
3     15-19                                             257605
4     20-24                                             478082

   Worked for 3 months or more but less than 6 months - Males  \
0                                            2136881
1                                              24511
2                                              39191
3                                             141262
4                                             257149

   Worked for 3 months or more but less than 6 months - Females  \
0                                            2082003
1                                              23727
2                                              37097
3                                             116343
4                                             220933

   Worked for less than 3 months - Persons  ...  \
0                                   723891  ...
1                                     2051  ...
2                                     6993  ...
3                                    41938  ...
4                                    81036  ...

   Industrial Category - N to O - Females  \
0                                   14495
1                                      20
2                                      44
3                                     768
4                                    2267

   Industrial Category - P to Q - Persons  \
0                                   58788
1                                     312
2                                     506
3                                    2114
4                                   11529

   Industrial Category - P to Q - Males  \
0                                 19892
1                                   169
2                                   256
3                                   695
4                                  2861

   Industrial Category - P to Q - Females  \
0                                   38896
1                                     143
2                                     250
3                                    1419
4                                    8668

   Industrial Category - R to U - HHI - Persons  \
0                                         89703
1                                           842
2                                          1523
3                                          5349
4                                         10653

   Industrial Category - R to U - HHI - Males  \
0                                       21366
1                                         386
2                                         576
3                                        2065
4                                        2478

   Industrial Category - R to U - HHI - Females  \
0                                         68337
1                                           456
2                                           947
3                                          3284
4                                          8175

   Industrial Category - R to U - Non HHI - Persons  \
0                                            625350
1                                             40358
2                                             53900
3                                             89780
4                                            109641

   Industrial Category - R to U - Non HHI - Males  \
0                                          274811
1                                           20664
2                                           27501
3                                           46737
4                                           54832

   Industrial Category - R to U - Non HHI - Females
0                                            350539
1                                             19694
2                                             26399
3                                             43043
4                                             54809

[5 rows x 69 columns]

# **Check the missing values and outliers**

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 69 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Table Code                                                                                                   1386 non-null   object
 1   State Code                                                                                                   1386 non-null   object
 2   District Code                                                                                                1386 non-null   object
 3   Area Name                                                                                                    1386 non-null   object
 4   Total/ Rural/ Urban                                                                                          1386 non-null   object
 5   Age group                                                                                                    1386 non-null   object
 6   Worked for 3 months or more but less than 6 months -  Persons                                                1386 non-null   int64
 7   Worked for 3 months or more but less than 6 months - Males                                                   1386 non-null   int64
 8   Worked for 3 months or more but less than 6 months - Females                                                 1386 non-null   int64
 9   Worked for less than 3 months - Persons                                                                      1386 non-null   int64
 10  Worked for less than 3 months - Males                                                                        1386 non-null   int64
 11  Worked for less than 3 months - Females                                                                      1386 non-null   int64
 12  Industrial Category - A - Cultivators - Persons                                                              1386 non-null   int64
 13  Industrial Category - A - Cultivators - Males                                                                1386 non-null   int64
 14  Industrial Category - A - Cultivators - Females                                                              1386 non-null   int64
 15  Industrial Category - A - Agricultural labourers - Persons                                                   1386 non-null   int64
 16  Industrial Category - A - Agricultural labourers - Males                                                     1386 non-null   int64
 17  Industrial Category - A - Agricultural labourers - Females                                                   1386 non-null   int64
 18  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons  1386 non-null   int64
 19  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males    1386 non-null   int64
 20  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females  1386 non-null   int64
 21  Industrial Category - B - Persons                                                                            1386 non-null   int64
 22  Industrial Category - B - Males                                                                              1386 non-null   int64
 23  Industrial Category - B - Females                                                                            1386 non-null   int64
 24  Industrial Category - C - HHI - Persons                                                                      1386 non-null   int64
 25  Industrial Category - C - HHI - Males                                                                        1386 non-null   int64
 26  Industrial Category - C - HHI - Females                                                                      1386 non-null   int64
 27  Industrial Category - C - Non HHI - Persons                                                                  1386 non-null   int64
 28  Industrial Category - C - Non HHI - Males                                                                    1386 non-null   int64
 29  Industrial Category - C - Non HHI - Females                                                                  1386 non-null   int64
 30  Industrial Category - D & E - Persons                                                                        1386 non-null   int64
 31  Industrial Category - D & E - Males                                                                          1386 non-null   int64
 32  Industrial Category - D & E - Females                                                                        1386 non-null   int64
 33  Industrial Category - F - Persons                                                                            1386 non-null   int64
 34  Industrial Category - F - Males                                                                              1386 non-null   int64
 35  Industrial Category - F - Females                                                                            1386 non-null   int64
 36  Industrial Category - G - HHI - Persons                                                                      1386 non-null   int64
 37  Industrial Category - G - HHI - Males                                                                        1386 non-null   int64
 38  Industrial Category - G - HHI - Females                                                                      1386 non-null   int64
 39  Industrial Category - G - Non HHI - Persons                                                                  1386 non-null   int64
 40  Industrial Category - G - Non HHI - Males                                                                    1386 non-null   int64
 41  Industrial Category - G - Non HHI - Females                                                                  1386 non-null   int64
 42  Industrial Category - H - Persons                                                                            1386 non-null   int64
 43  Industrial Category - H - Males                                                                              1386 non-null   int64
 44  Industrial Category - H - Females                                                                            1386 non-null   int64
 45  Industrial Category - I - Persons                                                                            1386 non-null   int64
 46  Industrial Category - I - Males                                                                              1386 non-null   int64
 47  Industrial Category - I - Females                                                                            1386 non-null   int64
 48  Industrial Category - J - HHI - Persons                                                                      1386 non-null   int64
 49  Industrial Category - J - HHI - Males                                                                        1386 non-null   int64
 50  Industrial Category - J - HHI - Females                                                                      1386 non-null   int64
 51  Industrial Category - J - Non HHI - Persons                                                                  1386 non-null   int64
 52  Industrial Category - J - Non HHI - Males                                                                    1386 non-null   int64
 53  Industrial Category - J - Non HHI - Females                                                                  1386 non-null   int64
 54  Industrial Category - K to M - Persons                                                                       1386 non-null   int64
 55  Industrial Category - K to M - Males                                                                         1386 non-null   int64
 56  Industrial Category - K to M - Females                                                                       1386 non-null   int64
 57  Industrial Category - N to O - Persons                                                                       1386 non-null   int64
 58  Industrial Category - N to O - Males                                                                         1386 non-null   int64
 59  Industrial Category - N to O - Females                                                                       1386 non-null   int64
 60  Industrial Category - P to Q - Persons                                                                       1386 non-null   int64
 61  Industrial Category - P to Q - Males                                                                         1386 non-null   int64
 62  Industrial Category - P to Q - Females                                                                       1386 non-null   int64
 63  Industrial Category - R to U - HHI - Persons                                                                 1386 non-null   int64
 64  Industrial Category - R to U - HHI - Males                                                                   1386 non-null   int64
 65  Industrial Category - R to U - HHI - Females                                                                 1386 non-null   int64
 66  Industrial Category - R to U - Non HHI - Persons                                                             1386 non-null   int64
 67  Industrial Category - R to U - Non HHI - Males                                                               1386 non-null   int64
 68  Industrial Category - R to U - Non HHI - Females                                                             1386 non-null   int64
dtypes: int64(63), object(6)
memory usage: 747.3+ KB
None

In [5]:
print(df.describe())

       Worked for 3 months or more but less than 6 months -  Persons  \
count                                       1.386000e+03
mean                                        2.435142e+04
std                                         1.530754e+05
min                                         0.000000e+00
25%                                         8.372500e+02
50%                                         3.985000e+03
75%                                         1.251725e+04
max                                         4.218884e+06

       Worked for 3 months or more but less than 6 months - Males  \
count                                       1.386000e+03
mean                                        1.233409e+04
std                                         7.669251e+04
min                                         0.000000e+00
25%                                         4.637500e+02
50%                                         2.047500e+03
75%                                         6.273000e+03
max                                         2.136881e+06

       Worked for 3 months or more but less than 6 months - Females  \
count                                       1.386000e+03
mean                                        1.201733e+04
std                                         7.656262e+04
min                                         0.000000e+00
25%                                         3.792500e+02
50%                                         1.812000e+03
75%                                         6.255500e+03
max                                         2.082003e+06

       Worked for less than 3 months - Persons  \
count                              1386.000000
mean                               4178.303030
std                               26234.919027
min                                   0.000000
25%                                 123.000000
50%                                 650.500000
75%                                2071.750000
max                              723891.000000

       Worked for less than 3 months - Males  \
count                            1386.000000
mean                             1946.712843
std                             12024.992364
min                                 0.000000
25%                                71.000000
50%                               315.500000
75%                               955.250000
max                            337268.000000

       Worked for less than 3 months - Females  \
count                              1386.000000
mean                               2231.590188
std                               14281.201871
min                                   0.000000
25%                                  51.250000
50%                                 337.500000
75%                                1091.250000
max                              386623.000000

       Industrial Category - A - Cultivators - Persons  \
count                                      1386.000000
mean                                       2268.871573
std                                       15445.653849
min                                           0.000000
25%                                          56.000000
50%                                         215.500000
75%                                        1068.000000
max                                      393082.000000

       Industrial Category - A - Cultivators - Males  \
count                                    1386.000000
mean                                     1271.653680
std                                      8627.700716
min                                         0.000000
25%                                        32.000000
50%                                       129.500000
75%                                       584.250000
max                                    220314.000000

       Industrial Category - A - Cultivators - Females  \
count                                      1386.000000
mean                                        997.217893
std                                        6827.658762
min                                           0.000000
25%                                          21.000000
50%                                          88.500000
75%                                         491.500000
max                                      172768.000000

       Industrial Category - A - Agricultural labourers - Persons  ...  \
count                                       1.386000e+03           ...
mean                                        1.369377e+04           ...
std                                         9.330282e+04           ...
min                                         0.000000e+00           ...
25%                                         2.135000e+02           ...
50%                                         1.282000e+03           ...
75%                                         6.713750e+03           ...
max                                         2.372446e+06           ...

       Industrial Category - N to O - Females  \
count                             1386.000000
mean                                83.665224
std                                543.170274
min                                  0.000000
25%                                  0.000000
50%                                  6.000000
75%                                 29.000000
max                              14495.000000

       Industrial Category - P to Q - Persons  \
count                             1386.000000
mean                               339.324675
std                               2114.109688
min                                  0.000000
25%                                  5.000000
50%                                 44.000000
75%                                166.000000
max                              58788.000000

       Industrial Category - P to Q - Males  \
count                           1386.000000
mean                             114.816739
std                              710.763665
min                                0.000000
25%                                0.000000
50%                               18.000000
75%                               60.000000
max                            19892.000000

       Industrial Category - P to Q - Females  \
count                             1386.000000
mean                               224.507937
std                               1405.839106
min                                  0.000000
25%                                  0.000000
50%                                 26.000000
75%                                112.000000
max                              38896.000000

       Industrial Category - R to U - HHI - Persons  \
count                                   1386.000000
mean                                     517.766234
std                                     3177.844267
min                                        0.000000
25%                                       18.000000
50%                                       80.000000
75%                                      243.500000
max                                    89703.000000

       Industrial Category - R to U - HHI - Males  \
count                                 1386.000000
mean                                   123.324675
std                                    756.489766
min                                      0.000000
25%                                      6.000000
50%                                     21.000000
75%                                     62.000000
max                                  21366.000000

       Industrial Category - R to U - HHI - Females  \
count                                   1386.000000
mean                                     394.441558
std                                     2425.750623
min                                        0.000000
25%                                       11.000000
50%                                       57.500000
75%                                      187.000000
max                                    68337.000000

       Industrial Category - R to U - Non HHI - Persons  \
count                                       1386.000000
mean                                        3609.523810
std                                        22377.933258
min                                            0.000000
25%                                          208.500000
50%                                          593.000000
75%                                         1548.000000
max                                       625350.000000

       Industrial Category - R to U - Non HHI - Males  \
count                                     1386.000000
mean                                      1586.210678
std                                       9787.231574
min                                          0.000000
25%                                         96.000000
50%                                        260.000000
75%                                        695.750000
max                                     274811.000000

       Industrial Category - R to U - Non HHI - Females
count                                       1386.000000
mean                                        2023.313131
std                                        12641.139629
min                                            0.000000
25%                                          104.000000
50%                                          317.500000
75%                                          820.000000
max                                       350539.000000

[8 rows x 63 columns]

In our data set there is no missing values but in Age group column we have outliers so we need to handle that values by using dropna() function

In [7]:
import pandas as pd

# Assuming 'df' is your DataFrame
df =pd.read_csv('/content/DDW_B06_3300_State_TAMIL_NADU-2011.csv')
# Drop rows where a specific column meets a condition
df = df.drop(df[df['Age group'] == 'Total'].index)

# Drop rows based on multiple conditions
df = df.drop(df[(df['Age group'] == 'Age not stated')].index)
df = df.drop(df[df['Age group'] == '80+'].index)
df = df.drop(df[df['Age group'] == '`5-9'].index)
df = df.drop(df[df['Age group'] == '`10-14'].index)
print(df)

     Table Code State Code District Code            Area Name  \
3         B0706        `33          `000   State - TAMIL NADU
4         B0706        `33          `000   State - TAMIL NADU
5         B0706        `33          `000   State - TAMIL NADU
6         B0706        `33          `000   State - TAMIL NADU
7         B0706        `33          `000   State - TAMIL NADU
...         ...        ...           ...                  ...
1379      B0706        `33          `633  District - Tiruppur
1380      B0706        `33          `633  District - Tiruppur
1381      B0706        `33          `633  District - Tiruppur
1382      B0706        `33          `633  District - Tiruppur
1383      B0706        `33          `633  District - Tiruppur

     Total/ Rural/ Urban Age group  \
3                  Total     15-19
4                  Total     20-24
5                  Total     25-29
6                  Total     30-34
7                  Total     35-39
...                  ...       ...
1379               Urban     35-39
1380               Urban     40-49
1381               Urban     50-59
1382               Urban     60-69
1383               Urban     70-79

      Worked for 3 months or more but less than 6 months -  Persons  \
3                                                257605
4                                                478082
5                                                554851
6                                                483456
7                                                502791
...                                                 ...
1379                                               5043
1380                                               8225
1381                                               4965
1382                                               2827
1383                                                920

      Worked for 3 months or more but less than 6 months - Males  \
3                                                141262
4                                                257149
5                                                283442
6                                                240046
7                                                230695
...                                                 ...
1379                                               2455
1380                                               4269
1381                                               2800
1382                                               1590
1383                                                581

      Worked for 3 months or more but less than 6 months - Females  \
3                                                116343
4                                                220933
5                                                271409
6                                                243410
7                                                272096
...                                                 ...
1379                                               2588
1380                                               3956
1381                                               2165
1382                                               1237
1383                                                339

      Worked for less than 3 months - Persons  ...  \
3                                       41938  ...
4                                       81036  ...
5                                       91694  ...
6                                       79385  ...
7                                       84066  ...
...                                       ...  ...
1379                                      813  ...
1380                                     1323  ...
1381                                      901  ...
1382                                      578  ...
1383                                      204  ...

      Industrial Category - N to O - Females  \
3                                        768
4                                       2267
5                                       2285
6                                       2034
7                                       2032
...                                      ...
1379                                      37
1380                                      47
1381                                      25
1382                                       7
1383                                       2

      Industrial Category - P to Q - Persons  \
3                                       2114
4                                      11529
5                                      12528
6                                       8540
7                                       6614
...                                      ...
1379                                     106
1380                                      89
1381                                     111
1382                                      21
1383                                       6

      Industrial Category - P to Q - Males  \
3                                      695
4                                     2861
5                                     4506
6                                     3168
7                                     2117
...                                    ...
1379                                    30
1380                                    17
1381                                    51
1382                                     6
1383                                     6

      Industrial Category - P to Q - Females  \
3                                       1419
4                                       8668
5                                       8022
6                                       5372
7                                       4497
...                                      ...
1379                                      76
1380                                      72
1381                                      60
1382                                      15
1383                                       0

      Industrial Category - R to U - HHI - Persons  \
3                                             5349
4                                            10653
5                                            12713
6                                            10524
7                                            10648
...                                            ...
1379                                            80
1380                                           187
1381                                           119
1382                                            71
1383                                            22

      Industrial Category - R to U - HHI - Males  \
3                                           2065
4                                           2478
5                                           2745
6                                           2074
7                                           1864
...                                          ...
1379                                           8
1380                                          24
1381                                          26
1382                                          24
1383                                           9

      Industrial Category - R to U - HHI - Females  \
3                                             3284
4                                             8175
5                                             9968
6                                             8450
7                                             8784
...                                            ...
1379                                            72
1380                                           163
1381                                            93
1382                                            47
1383                                            13

      Industrial Category - R to U - Non HHI - Persons  \
3                                                89780
4                                               109641
5                                                80299
6                                                50655
7                                                42115
...                                                ...
1379                                               631
1380                                              1157
1381                                               857
1382                                               668
1383                                               319

      Industrial Category - R to U - Non HHI - Males  \
3                                              46737
4                                              54832
5                                              34058
6                                              17485
7                                              12686
...                                              ...
1379                                             168
1380                                             294
1381                                             257
1382                                             274
1383                                             168

      Industrial Category - R to U - Non HHI - Females
3                                                43043
4                                                54809
5                                                46241
6                                                33170
7                                                29429
...                                                ...
1379                                               463
1380                                               863
1381                                               600
1382                                               394
1383                                               151

[891 rows x 69 columns]

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 3 to 1383
Data columns (total 69 columns):
 #   Column                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                       --------------  -----
 0   Table Code                                                                                                   891 non-null    object
 1   State Code                                                                                                   891 non-null    object
 2   District Code                                                                                                891 non-null    object
 3   Area Name                                                                                                    891 non-null    object
 4   Total/ Rural/ Urban                                                                                          891 non-null    object
 5   Age group                                                                                                    891 non-null    object
 6   Worked for 3 months or more but less than 6 months -  Persons                                                891 non-null    int64
 7   Worked for 3 months or more but less than 6 months - Males                                                   891 non-null    int64
 8   Worked for 3 months or more but less than 6 months - Females                                                 891 non-null    int64
 9   Worked for less than 3 months - Persons                                                                      891 non-null    int64
 10  Worked for less than 3 months - Males                                                                        891 non-null    int64
 11  Worked for less than 3 months - Females                                                                      891 non-null    int64
 12  Industrial Category - A - Cultivators - Persons                                                              891 non-null    int64
 13  Industrial Category - A - Cultivators - Males                                                                891 non-null    int64
 14  Industrial Category - A - Cultivators - Females                                                              891 non-null    int64
 15  Industrial Category - A - Agricultural labourers - Persons                                                   891 non-null    int64
 16  Industrial Category - A - Agricultural labourers - Males                                                     891 non-null    int64
 17  Industrial Category - A - Agricultural labourers - Females                                                   891 non-null    int64
 18  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Persons  891 non-null    int64
 19  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Males    891 non-null    int64
 20  Industrial Category - A - Plantation, Livestock, Forestry, Fishing, Hunting and allied activities - Females  891 non-null    int64
 21  Industrial Category - B - Persons                                                                            891 non-null    int64
 22  Industrial Category - B - Males                                                                              891 non-null    int64
 23  Industrial Category - B - Females                                                                            891 non-null    int64
 24  Industrial Category - C - HHI - Persons                                                                      891 non-null    int64
 25  Industrial Category - C - HHI - Males                                                                        891 non-null    int64
 26  Industrial Category - C - HHI - Females                                                                      891 non-null    int64
 27  Industrial Category - C - Non HHI - Persons                                                                  891 non-null    int64
 28  Industrial Category - C - Non HHI - Males                                                                    891 non-null    int64
 29  Industrial Category - C - Non HHI - Females                                                                  891 non-null    int64
 30  Industrial Category - D & E - Persons                                                                        891 non-null    int64
 31  Industrial Category - D & E - Males                                                                          891 non-null    int64
 32  Industrial Category - D & E - Females                                                                        891 non-null    int64
 33  Industrial Category - F - Persons                                                                            891 non-null    int64
 34  Industrial Category - F - Males                                                                              891 non-null    int64
 35  Industrial Category - F - Females                                                                            891 non-null    int64
 36  Industrial Category - G - HHI - Persons                                                                      891 non-null    int64
 37  Industrial Category - G - HHI - Males                                                                        891 non-null    int64
 38  Industrial Category - G - HHI - Females                                                                      891 non-null    int64
 39  Industrial Category - G - Non HHI - Persons                                                                  891 non-null    int64
 40  Industrial Category - G - Non HHI - Males                                                                    891 non-null    int64
 41  Industrial Category - G - Non HHI - Females                                                                  891 non-null    int64
 42  Industrial Category - H - Persons                                                                            891 non-null    int64
 43  Industrial Category - H - Males                                                                              891 non-null    int64
 44  Industrial Category - H - Females                                                                            891 non-null    int64
 45  Industrial Category - I - Persons                                                                            891 non-null    int64
 46  Industrial Category - I - Males                                                                              891 non-null    int64
 47  Industrial Category - I - Females                                                                            891 non-null    int64
 48  Industrial Category - J - HHI - Persons                                                                      891 non-null    int64
 49  Industrial Category - J - HHI - Males                                                                        891 non-null    int64
 50  Industrial Category - J - HHI - Females                                                                      891 non-null    int64
 51  Industrial Category - J - Non HHI - Persons                                                                  891 non-null    int64
 52  Industrial Category - J - Non HHI - Males                                                                    891 non-null    int64
 53  Industrial Category - J - Non HHI - Females                                                                  891 non-null    int64
 54  Industrial Category - K to M - Persons                                                                       891 non-null    int64
 55  Industrial Category - K to M - Males                                                                         891 non-null    int64
 56  Industrial Category - K to M - Females                                                                       891 non-null    int64
 57  Industrial Category - N to O - Persons                                                                       891 non-null    int64
 58  Industrial Category - N to O - Males                                                                         891 non-null    int64
 59  Industrial Category - N to O - Females                                                                       891 non-null    int64
 60  Industrial Category - P to Q - Persons                                                                       891 non-null    int64
 61  Industrial Category - P to Q - Males                                                                         891 non-null    int64
 62  Industrial Category - P to Q - Females                                                                       891 non-null    int64
 63  Industrial Category - R to U - HHI - Persons                                                                 891 non-null    int64
 64  Industrial Category - R to U - HHI - Males                                                                   891 non-null    int64
 65  Industrial Category - R to U - HHI - Females                                                                 891 non-null    int64
 66  Industrial Category - R to U - Non HHI - Persons                                                             891 non-null    int64
 67  Industrial Category - R to U - Non HHI - Males                                                               891 non-null    int64
 68  Industrial Category - R to U - Non HHI - Females                                                             891 non-null    int64
dtypes: int64(63), object(6)
memory usage: 487.3+ KB
None

Now our dataset preprocessing is complete
now we will use this dataset for Analysis